@using bookstore.Models;

@model IEnumerable<BooksViewModel>

@{
    ViewData["Title"] = "List of Books";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Book.Title
                                  @*  @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {*@
                                        <a class="text-white float-right" asp-action="Update" asp-route-id="@item.Book.Id"><i class="bi bi-pencil-square"></i></a>
                                    @*}*@
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.Book.ImageURL" width="100%" height="500px" alt="@item.Book.Title">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>Price: </b>@item.Book.Price din.</p>
                            <p class="card-text"><b>Year of publication: </b>@item.Book.YearOfPublication</p>
                            <p class="card-text"><b>Author: </b>@item.Author?.FullName</p>
                            <p class="card-text"><b>Book genre: </b>@item.BookGenre?.Name</p>
                            <p class="card-text"><b>OrderId: </b>@item.Book.OrderId</p>
                            <p class="card-text"><b>UserId: </b>@item.ApplicationUser?.UserName</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Book.Id">
                                    <i class="bi bi-eye-fill"></i> Details
                                </a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Book.Id"><i class="bi bi-trash"></i>Delete </a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@await Html.PartialAsync("_CreateItem", "books")