@model IEnumerable<OrdersViewModel>

@{
    ViewData["Title"] = "List of Orders";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.Order.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Order.Date)</th>
                    <th>@Html.DisplayNameFor(model => model.ApplicationUser.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.Order.TypeOfOrder)</th>
                    <th>@Html.DisplayNameFor(model => model.Book.Price)</th>
                    <th>@Html.DisplayNameFor(model => model.Book.Title)</th>

                   
                <tr />
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Order.Id)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Order.Date)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Order.TypeOfOrder)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Book.Price)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Book.Title)
                        </td>
                       
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
