@model IEnumerable<UsersViewModel>

@{
    ViewData["Title"] = "List of Users";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.ApplicationUser.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.ApplicationUser.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.ApplicationUser.PhoneNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.ApplicationUser.UserName)</th>
                    <th>@Html.DisplayNameFor(model => model.ApplicationUser.EmailConfirmed)</th>
                    @*prikazi i rolu*@
                    <th>@Html.DisplayNameFor(model => model.StringOfRoles)</th>
                    <th>Actions</th>
                <tr />
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.ApplicationUser.PhoneNumber)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.ApplicationUser.EmailConfirmed)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.StringOfRoles)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary" asp-action="Update" asp-route-id="@item.ApplicationUser.Id"><i class="bi bi-pencil-square"></i>Update </a> |
                           <a class="btn btn-outline-primary" asp-action="UpdateUserRoles" asp-route-id="@item.ApplicationUser.Id"><i class="bi bi-pencil-square"></i>Update user roles</a> |
                           <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.ApplicationUser.Id"><i class="bi bi-eye"></i>Details </a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ApplicationUser.Id"><i class="bi bi-trash"></i>Delete </a>
                        </td>
                    </tr>
                }
              @*  <h2>Claim details</h2>
                <ul>
                    @foreach (var claim in User.Claims)
                    {
                        <li><strong>@claim.Type</strong>: @claim.Value</li>
                    }
                </ul>*@
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_CreateItem", "users")