@using bookstore.Entities;

@model IEnumerable<Author>

@{
    ViewData["Title"] = "List of Authors";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Surname)</th>
                    <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
                <tr/>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.DateOfBirth)
                        </td>
                    </tr>
                }
            </tbody>
    </div>
</div>